Makefile
*/Makefile
*/build/
*/dist/
.vscode/
.qmake.stash
*/moc_*.h
*/moc_*.cpp
*/ui_*.h
*/ui_*.cpp
debian/.debhelper/
debian/files
debian/linssid.debhelper.log
debian/linssid.substvars
debian/linssid/